#navegador{
	background-image: linear-gradient(to bottom, #272020, #8C1818);
	height: 30px;

}


#conta{
	margin-left: 838px;
	margin-right: -10px;
}

#selecionar{
	width: 10%;
	margin-left: 70%;
	padding: 4px 15px 3px 15px;
	border-radius: 50px;
}


body{
	color: #ffffff;
	background-color: #140C0C
}

#Container{
	margin-top: 5px;  	
	height: 100%; 	
	background-image: linear-gradient(to bottom, #272020, #8C1818);  
}

#dados{
	margin-left: 30px;
	margin-right: 100px;
	margin-top: 70px;
	display: inline-block;

}

#titulo{
	padding: 4px 15px 3px 15px;
	border-radius: 50px;
}

#localizaçãoBotões{
	margin-top: 30px;
	margin-left: 610px;
	
}
#botão{
	padding: 4px 15px 3px 15px;
	border-radius: 50px;
	margin-bottom: 100px;
}
#formulario{
	
	margin-left: 450px;
	margin-right: 450px;
	margin-top: 70px;
}

#carro{
	margin-left: 30px;
}
#fabricacao{
	margin-left: 30px;
}
#categorias{
	margin-left: 30px;
}
#referencia{
	margin-left: 30px;
}

#texto{
	color: white;
}

h1{
	text-align: center;
	margin-top: 5px;
}



