#navegador{
	background-image: linear-gradient(to bottom, #272020, #8C1818);
	height: 30px;

}


#conta{
	margin-left: 838px;
	margin-right: -10px;
}

#selecionar{
	width: 10%;
	margin-left: 70%;
	padding: 4px 15px 3px 15px;
	border-radius: 50px;
}
#imagem{
	margin-top: 100px;
	margin-right: 400px;
}

body{
	color: #ffffff;
	background-color: #140C0C
}

#Container{
	margin-top: 5px;  	
	height: 100%; 	
	background-image: linear-gradient(to bottom, #272020, #8C1818);  
}

#dados{
	margin-left: 300px;
	margin-top: 70px;
	width: 20%;
	display: inline-block;
}

#titulo{
	padding: 4px 15px 3px 15px;
	border-radius: 50px;
}

#localizaçãoBotões{
	margin-top: 63px;
	margin-bottom: 100px;
	margin-left: 700px;
}
#botão{
	padding: 4px 15px 3px 15px;
	border-radius: 50px;
}

#texto{
	color: white;
}

h1{
	text-align: center;
	margin-top: 5px;
}



