#navegador{
	background-image: linear-gradient(to bottom, #272020, #8C1818);
	height: 30px;

}


#conta{
	margin-left: 895px;
	margin-right: -10px;
}

#selecionar{
	width: 10%;
	margin-left: 70%;
	padding: 4px 15px 3px 15px;
	border-radius: 50px;
}
#imagem{
	margin-left: 100px
}

body{
	color: #ffffff;
	background-color: #140C0C
}

#Container{
	margin-top: 5px;  	
	height: 90%; 

	background-image: linear-gradient(to bottom, #272020, #8C1818);  
}

#dados{

	margin-top: 15px;
}
#fornecedor{
	margin-top: 30px;
	margin-left: 150px;
}

#barraPesquisa{
	margin-top: 30px;
	width: 12%;
	margin-left: 450px;
	border-radius: 30px 30px 30px 30px;
}
#botãopequisa{
	margin-top: 30px;
	height: 10%;
	margin-right: 50px;
}
#titulo{
	padding: 4px 15px 3px 15px;
	border-radius: 50px;
}

#localizaçãoBotões{
	margin-top: 50px;
	margin-left: 800px;
}
#botão{
	padding: 4px 15px 3px 15px;
	border-radius: 50px;
}

#texto{
	color: white;
}

h1{
	text-align: center;
	margin-top: 5px;
}



