#navegador{
	background-image: linear-gradient(to bottom, #272020, #8C1818);
	height: 30px;

}

#conta{
	margin-left: 838px;
	margin-right: -10px;
}

#selecionar{
	width: 10%;
	margin-left: 70%;
	padding: 4px 15px 3px 15px;
	border-radius: 50px;
}

body{
	color: #ffffff;
	background-color: #140C0C
}

#Container{
	margin-top: 5px;  	
	height: 100%; 	
	background-image: linear-gradient(to bottom, #272020, #8C1818);  
}

#dados{
	margin-top: 15px;
	margin-left: 60px;
    display: inline-block;
}
#grupoFor{
	margin-left: 100px;
}
#descrição{
	width: 23%;
	margin-left: 300px;
	margin-right: 200px;
}

#barraPesquisa{
	margin-bottom: 10px;
	margin-left: 3px;
	margin-right: 20px;
	height: 50px;
	width: 50%;
}

#titulo{
	padding: 4px 15px 3px 15px;
	border-radius: 50px;
}

#localizaçãoBotões{
	margin-top: 50px;
	margin-left: 800px;

}
#botão{
	padding: 4px 15px 3px 15px;
	border-radius: 50px;
	margin-bottom: 100px;
}

#texto{
	color: white;
}

h1{
	text-align: center;
	margin-top: 5px;
}

table{
	margin-top: 20px;
}

table th{
	color: white;
}

table td{
	color: white;
}


