body {
  color: #ffffff;
  background-color: #140c0c;
}

img { width: 100%; }

/* INÍCIO NAVEGAÇÃO */
nav {
  background-image: linear-gradient(to bottom, #272020, #8c1818);
  height: 30px;
}

nav li a {
  color: #ffffff !important;
}

.dropdown-menu {
  background-color: #140C0C !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  border-radius: 50%;
  background-image: none;
}

/* CARROSSEL */
.carousel-control-next-icon:after {
  content: ">";
  font-size: 55px;
  color: #8c1818;
}

.carousel-control-prev-icon:after {
  content: "<";
  font-size: 55px;
  color: #8c1818;
}
/* FIM NAVEGAÇÃO */

#container {
  margin-top: 5px;
  height: 100%;
  background-image: linear-gradient(to bottom, #272020, #8c1818);
}

#containerlimitado{
  margin-top: 5px;
  height: 78vh;
  background-image: linear-gradient(to bottom, #272020, #8c1818);
}
input,
select {
  border-radius: 30px 30px 30px 30px !important;
}

h1 {
  text-align: center;
  margin-top: 5px;
}

h1 > span {
  padding: 4px 15px 3px 15px !important;
  border-radius: 50px !important;
  
}


form {
  margin-left: 30px;
  margin-right: 100px;
  margin-top: 70px;
  display: inline-block;
}

.table {
  color: #000000;
  background-color: #ffffff;
}

#produtos {
  width: 100%;
  height: 100px;
  display: inline-block;
  margin-right: 6px;
  margin-left: 6px;
  margin-top: 30px;
  
}

#imagemDestaque {
  margin-top: 10px;
  width: 100%;
}

#imagemCadastro{
   width: 22%;
   margin-top: 65px;
   margin-left: 28%;
}
#formProduto{
  width: 50%;
  margin-left: 350px;
  margin-right: 100px;
}

#imagemFornecedor{
  width: 22%;
  margin-right: 30%;
  margin-top: 87px;
}
#selecionar {
  width: 10%;
  margin-left: 70%;
  padding: 4px 15px 3px 15px;
  border-radius: 50px;
}

#divBusca{
  background-color:#ffffff;
  border-radius: 30px 30px 30px 30px !important;
  width:409px;
  height:42px;
  margin-left: 68%;
}

#txtBusca{
  float:left;
  border-radius: 30px 0px 0px 30px !important;
  background-color:#ffffff;
  padding-left:5px;
  font-size:18px;
  border:none;
  height:42px;
  width:300px;
}

#btnBusca{
  border-radius: 0px 30px 30px 0px !important;
  border:none;
  color:#ffffff;
  background:#0462f0;
  height:42px;
  border-radius:0 7px 7px 0;
  width:109px;
 
}