
body {
color: #ffffff;
background-color: #140c0c;
}

img { width: 100%; }

/* INÍCIO NAVEGAÇÃO */
nav {
background-image: linear-gradient(to bottom, #272020, #8c1818);
height: 30px;
}

nav li a {
color: #ffffff !important;
}

#containerentrada{
    margin-top: 5px;
    height: 130vh;
    background-image: linear-gradient(to bottom, #272020, #8c1818);
}

input,
select {
border-radius: 30px 30px 30px 30px !important;
}

h1 {
text-align: center;
margin-top: 5px;
}

h1 > span {
padding: 4px 15px 3px 15px !important;
border-radius: 50px !important;

}

.table {
color: #000000;
background-color: #ffffff;
}

    /* FIM NAVEGAÇÃO */
