
body {
color: #ffffff;
background-color: #140c0c;
}

img { width: 100%; }

/* INÍCIO NAVEGAÇÃO */
nav {
background-image: linear-gradient(to bottom, #272020, #8c1818);
height: 30px;
}

nav li a {
color: #ffffff !important;
}

#containerentrada{
    margin-top: 5px;
    height: 130vh;
    background-image: linear-gradient(to bottom, #272020, #8c1818);
}

input,
select {
border-radius: 30px 30px 30px 30px !important;
}

h1 {
text-align: center;
margin-top: 5px;
}

h1 > span {
padding: 4px 15px 3px 15px !important;
border-radius: 50px !important;

}

.table {
color: #000000;
background-color: #ffffff;
}

    /* FIM NAVEGAÇÃO */

form{
    width:52%;
    margin-left:5%;
    margin-top: 2%;
}

#pesquisar{
    margin-left: 28px;
    padding: 4px 15px 3px 15px;
    border-radius: 50px;
}
@media (min-width: 1200px) { 
    #valorTotal{
        margin-top: 0%;
        width: 49%; 
       
   
    }
    #produto{
        width:23.4%;
    }
    #titulo2{
        text-align: left;
        margin-top:3%;
        margin-bottom:1%;
        margin-left:10px;
    }
    #titulo3{
        text-align: left;
        margin-top:5%;
        margin-bottom:0%;
    }
    #dadosFor{
        width: 52%;
        margin-top: 1px;
        margin-bottom:20px;
        margin-left: 70px;
    }
    #dadosClientes{
        width: 95%;
        margin-top: 1px;
        margin-bottom:20px;
        margin-left: 20px;
    }
    #cliente{
        background-image: linear-gradient(to bottom, #272020, #8c1818);
        width: 173%;
        border: double;
    }
    #textNome{
        margin-left:1%;
    }
    #textTelefone{
        margin-left:29.4%;
    }
    #textCpf{
        margin-left:27.3%;
    }
    #dadosItens{
        width: 95%;
        margin-top:4%;
        margin-left: 1%;
        
    }
    #inserir{
        margin-left: 93%;
        margin-top: 1%;
    }
    #textLucro{
        margin-left: 45.4%;
    }
    #textValor{
        margin-left: 43.8%; 
    }
  
    

}