#navegador{
	background-image: linear-gradient(to bottom, #272020, #8C1818);
	height: 30px;

}


#conta{
	margin-left: 838px;
	margin-right: -10px;
}

#selecionar{
	width: 10%;
	margin-left: 70%;
	padding: 4px 15px 3px 15px;
	border-radius: 50px;
}



body{
	color: #ffffff;
	background-color: #140C0C
}

#Container{
	margin-top: 5px;  	
	height: 100%; 	
	background-image: linear-gradient(to bottom, #272020, #8C1818);  
}

#dados{
	margin-top: 15px;
	margin-left: 100px;
	width: 20%;
    display: inline-block;
}
#FormaDePagamento{
	height: 50px;
	margin-left: 10px;
	margin-right: 50px;	
	border-radius: 30px 30px 30px 30px;
	width: 3%;
}
#CondiçãoDePagamento{
	margin-left: 200px;
	width: 4%;
	margin-right: 200px;
}

#barraPesquisa{
	height: 50px;
	margin-left: 10px;
	margin-right: 50px;	
	border-radius: 30px 30px 30px 30px;
	width: 3%;
}
#formas{
	margin-left: 10px;
	margin-right: 400px;	
}
#botãoPes{
	border-radius: 30px 30px 30px 30px;
	margin-top: 30px;
}

#titulo{
	padding: 4px 15px 3px 15px;
	border-radius: 50px;
}

#localizaçãoBotões{

	margin-top: 50px;
	margin-left: 50px;
}
#botão{
	padding: 4px 15px 3px 15px;
	border-radius: 50px;
	margin-bottom: 10px;
}

#texto{
	color: white;
}
#imagem{
	height: 20%; 
}

h1{
	text-align: center;
	margin-top: 5px;
}

table{
	margin-top: 20px;
}

table th{
	color: white;
}

table td{
	color: white;
}


